<ng-container [formGroup]="form">
    
    
				<div class="form-group">
					<label for="{{ formId }}-selleraddress">{{ 'INPUT_PICKUPADDRESS_LABEL'|translate }}</label>
					<input
						type="text"
						class="form-control"
						id="{{ formId }}-selleraddress"
						formControlName="selleraddress"
						[class.is-invalid]="form.controls.selleraddress|isInvalid"
					>
					<div class="invalid-feedback">
						<div *ngIf="form.controls.selleraddress|hasError:'required'">
							{{ 'ERROR_FORM_REQUIRED'|translate }}
						</div>
					</div>
				</div>
	
				<div class="form-group">
                    <label for="{{ formId }}-sellerstate">{{ 'INPUT_STATE_LABEL'|translate }}</label>
                    <input
                        type="text"
                        id="{{ formId }}-sellerstate"
                        formControlName="sellerstate"
                        class="form-control"
                        [class.is-invalid]="form.controls.sellerstate|isInvalid"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.sellerstate|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                    </div>
                </div>
				
				<div class="form-group">
                    <label for="{{ formId }}-sellerzipcode">{{ 'INPUT_ZIPCODE_LABEL'|translate }}</label>
                    <input
                        type="text"
                        id="{{ formId }}-sellerzipcode"
                        formControlName="sellerzipcode"
                        class="form-control"
                        [class.is-invalid]="form.controls.sellerzipcode|isInvalid"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.sellerzipcode|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <label for="{{ formId }}-sellercountry">{{ 'INPUT_COUNTRY_LABEL'|translate }}</label>
                    <input
                        type="text"
                        id="{{ formId }}-sellercountry"
                        formControlName="sellercountry"
                        class="form-control"
                        [class.is-invalid]="form.controls.sellercountry|isInvalid"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.sellercountry|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                    </div>
                </div>
				
				<div class="form-group">
                    <label for="{{ formId }}-selleremail">{{ 'INPUT_EMAIL_ADDRESS_LABEL'|translate }}</label>
                    <input
                        type="email"
                        id="{{ formId }}-selleremail"
                        formControlName="selleremail"
                        class="form-control"
                        [class.is-invalid]="form.controls.selleremail|isInvalid"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.selleremail|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                        <div *ngIf="form.controls.selleremail|hasError:'email'">
                            {{ 'ERROR_FORM_INCORRECT_EMAIL'|translate }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ formId }}-sellerphone">{{ 'INPUT_PHONE_NUMBER_LABEL'|translate }}</label>
                    <input
                        type="text"
                        id="{{ formId }}-sellerphone"
                        formControlName="sellerphone"
                        class="form-control"
                        [class.is-invalid]="form.controls.sellerphone|isInvalid"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.sellerphone|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                    </div>
                </div>
				
				<div class="form-group">
                    <label for="{{ formId }}-bankaccountholdername">{{ 'INPUT_BANKACCOUNTHOLDERNAME_LABEL'|translate }}</label>
                    <input
                        type="text"
                        id="{{ formId }}-bankaccountholdername"
                        formControlName="bankaccountholdername"
                        class="form-control"
                        [class.is-invalid]="form.controls.bankaccountholdername|isInvalid"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.bankaccountholdername|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <label for="{{ formId }}-bankaccountnumber">{{ 'INPUT_BANKACCOUNTNUMBER_LABEL'|translate }}</label>
                    <input
                        type="text"
                        id="{{ formId }}-bankaccountnumber"
                        formControlName="bankaccountnumber"
                        class="form-control"
                        [class.is-invalid]="form.controls.bankaccountnumber|isInvalid"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.bankaccountnumber|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <label for="{{ formId }}-ifsccode">{{ 'INPUT_IFSCCODE_LABEL'|translate }}</label>
                    <input
                        type="text"
                        id="{{ formId }}-ifsccode"
                        formControlName="ifsccode"
                        class="form-control"
                        [class.is-invalid]="form.controls.ifsccode|isInvalid"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.ifsccode|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <label for="{{ formId }}-aadharnumber">{{ 'INPUT_AADHARNUMBER_LABEL'|translate }}</label>
                    <input
                        type="text"
                        id="{{ formId }}-aadharnumber"
                        formControlName="aadharnumber"
                        class="form-control"
                        [class.is-invalid]="form.controls.aadharnumber|isInvalid"
						
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.aadharnumber|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                    </div>
                </div>
				

   
</ng-container>
